<div>
  <div>
    <h1 class="text-center">ゲーム詳細</h1>
  </div>
  <div>
    <div>
      <p>ゲームロゴ</p>
      <%= image_tag @game.logo_url, class: "h-24 w-24 object-contain mr-4" %>
    </div>
    <div>
      <p>ゲームタイトル</p>
      <%= content_tag :div, @game.title, class: "font-bold mb-2" %>
    </div>
    <div>
      <p>ゲーム概要</p>
      <%= content_tag :div, @game.description, class: "text-sm" %>
    </div>
    <div>
      <p>ゲーム情報作成日時</p>
      <%= content_tag :div, @game.created_at, class: "text-sm" %>
    </div>
  </div>
</div>