<% if object.present? && object.errors.any? %>
  <div class="px-8 my-5 lg:text-base text-sm text-red-600">
    <ul class="list-disc flex flex-col items-start">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>