<header class="py-6">
  <div class="container mx-auto flex justify-between items-center px-8 md:px-1 lg:px-7 w-full">
    <%= link_to 'GunnerGuides', '#', class: "text-3xl font-bold" %>
    <div class="space-x-10 hidden md:flex items-center">
      <%= link_to 'ゲーム一覧', '#', class: "hover:text-purple-500 transiton-all duration-300" %>
      <%= link_to 'マイページ', '#', class: "hover:text-purple-500 transiton-all duration-300" %>
      <%= link_to 'ログアウト', '#', class: "hover:text-purple-500 transiton-all duration-300" %>
    </div>
    <div class="md:hidden">
      <i class="fa-solid fa-bars text-3xl"></i>
    </div>
  </div>
</header>