<div class="bg-[#161617] py-20">
  <div class="text-center">
    <h2 class="font-bold text-2xl text-white md:text-3xl lg:text-4xl mb-6 ">ゲーム一覧</h2>
    <p class="my-5 text-[#cecece]">学びたいゲームを選んでください<br>＊日本で人気のシューティングゲームのみ対応しています</p>
  </div>
</div>
