<div class="w-4/6 mx-auto mt-4 text-3xl">
  <div class="text-center my-3">
    <h1 class="text-5xl">ユーザー詳細</h1>
  </div>
  <div class="border-4 text-center">
    <div class="border-b-2 py-6">
      <%= @user.email %>
    </div>
    <div class="flex justify-evenly py-6">
      <div>
        <div>
          <%= @watched_count %>
        </div>
        <div>
          <span>視聴数</span>
        </div>
      </div>
      <div>
        <div>
          <%= @completed_count %>
        </div>
        <div>
          <span>完了数</span>
        </div>
      </div>
    </div>
  </div>
</div>

