<h1 class="text-center">ユーザー詳細</h1>
<ul>
  <li><strong>email:</strong> <%= @user.email %></li>
  <li><strong>視聴数:</strong> <%= @watched_count %></li>
  <li><strong>完了数:</strong> <%= @completed_count %></li>
</ul>

